<div class="login">
  <div *ngIf="isInvalidModal" class="modal-fail">
    <div>{{text}}</div>
  </div>
  <form (ngSubmit)="submit()" [formGroup]="loginForm" novalidate>
    <h2>You should log in</h2>
    <div class="fields">
      <div class="field">
          <span>User name: </span>
        <div>
          <input formControlName="userName">
        </div>
      </div>

      <div class="field">
          <span>Email: </span>
          <div>
            <input formControlName="email">
            <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid" class="invalid">
              incorrect email
            </div>
          </div>
      </div>

      <div class="field">
          <span>Password: </span>
          <div>
            <input formControlName="password" type="password">
            <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid"
                 class="invalid">min length 4 symbols
            </div>
          </div>
      </div>

      <div class="field">
          <span>Confirm password: </span>
          <div>
            <input formControlName="confirmPassword" type="password">
            <div *ngIf="loginForm.controls['confirmPassword'].touched &&
                loginForm.get('confirmPassword').hasError('required') ||
                (loginForm.controls['confirmPassword'].value !== loginForm.controls['password'].value)" class="invalid">
              should be the same as password
            </div>
          </div>
      </div>
    </div>
    <button type="submit">SUBMIT</button>
    <button (click)="clearData()" type="button">Clear</button>
  </form>
</div>
